.contenido1{
    position: relative;
    top: 60px;
}


.formData{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.contenidoFormulario{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /*border: 3px solid purple;*/
  }

/* formDataEstudiantes input{

    margin-bottom: 5px;

} */