
{% extends 'padreBlog.html' %}

{% block page_title %}
    <title>Editar perfil - {{ usuario }}</title>
{% endblock %}


{% block contenidoQueCambia %}
<section class="contenidoFormularioLogIn">
    <p> Abajo encontrarás todos los detalles de tu usuario:</p>
    <form method="POST"> {% csrf_token %}
    
        {{form.as_p}}
        <input type="submit" value="Editar perfil">
    </form>
    <a href="/accounts/profile/changePass"> Cambiar contraseña</a>
</section>
{% endblock contenidoQueCambia %}