.contenido1{
    position: relative;
    top: 60px;
}

.formData{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.formHead{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoFormulario{
    background-color: #0D6EFD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenidoFormularioLogIn{
    background-color: #eff3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.success {
    padding: 20px;
    background-color: #8ec08e;
    color: rgb(0, 0, 0);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


html, body { height: 100%;}

body > footer {
position: sticky;
top: 100vh;
}
.comentarios_post {
    margin: 20px 0px 20px 20px;
}
.alert-error {
    color: white;
    background-color: rgb(245, 114, 114);
    border-color: rgb(245, 114, 114);
}