.contenido1{
    position: relative;
    top: 60px;
}

.formData{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.formHead{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoFormulario{
    background-color: #0D6EFD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* Cosas de la tabla */

/* body {
font-family: 'lato', sans-serif;
}
.container {
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
}

h2 {
font-size: 26px;
margin: 20px 0;
text-align: center;
}

small {
font-size: 0.5em;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
    flex-basis: 10%;
    }
    .col-2 {
    flex-basis: 40%;
    }
    .col-3 {
    flex-basis: 25%;
    }
    .col-4 {
    flex-basis: 25%;
    }

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row{
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 10px 0;
        &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
      }
    }
  }
} */

/* Fin tabla */

/* table, th, td {
    table-layout: fixed;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: #c6d1e1;
    margin-left: auto;
    margin-right: auto;
} */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.success {
    padding: 20px;
    background-color: #8ec08e;
    color: rgb(0, 0, 0);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}