{% extends "padreBlog.html" %}

{%load static%}

<link href="{% static 'css/myStyle.css' %}" rel="stylesheet" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />

{% block contenidoQueCambia%}


    <!-- <h1>Nuevo post</h1>
    {% if formulario.errors %}
    <p style="color: red;">Están mal los datos :(</p>
    {% endif %}
    <form method="POST"> {% csrf_token %}
        <table>
            {{ formulario.as_table }}
        </table>>
        <input type="submit" value="Crear post">
    </form> -->
    <div class="container">
        <div class="col-8 offset-2">
            <section class="formHead">
                <h1 class="my-5">Nuevo post</h1>
            </section>     
            <section class="formHead">
                <span>Por favor ingrese los datos para agregar un nuevo post</span>
            </section> 
            <section class="contenidoFormulario">
                <form class="formData" action="addPost" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <input type="text" name="title" placeholder="Título">
                    <input type="text" name="subtitle" placeholder="Subtítulo">
                    <input type="file" id="img" name="image" accept="image/*">
                    Contenido del post:
                    <textarea name="content"> </textarea>
            
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </section>
        </div>
    </div>




{% endblock %}