<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block page_title %}
            <title>Home - AppBlog</title>
        {% endblock %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/personalStyle.css' %}" rel="stylesheet" />
        <!-- Bootstrap for messages-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        {% if user.is_authenticated %}
            <!-- Navigation-->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/addPost">Nuevo Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/searchPost">Buscar Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/about">Sobre nosotros</a>
                            </li>
                            <li class="nav-item" style="position: absolute; right: 120px">
                                <a class="nav-link active" aria-current="page"  href="/accounts/profile"> Hola, {{ user.username }}</a>
                            </li>
                            <li class="nav-item" style="position: absolute; right: 0px">
                                <a class="nav-link active" aria-current="page" href="/accounts/logout"> Cerrar sesión</a>
                            </li>
                            <li class="nav-item" style="position: absolute; right: 230px">
                                <img src="{{ avatar }}" width="40px">
                            </li> 
                        </ul>
                    </div>
                </div>
            </nav>
        {% else %}
            <!-- Navigation-->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/searchPost">Buscar Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/pages/about">Sobre nosotros</a>
                            </li>
                            <li class="nav-item" style="position: absolute; right: 0px">
                                <a class="nav-link active" aria-current="page" href="/accounts/login">Iniciar sesión/Registrarse</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
        <div class="contenido1">
        {% if messages %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="success" role="success" >
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
                    <!--<button class="closebtn" type="button" onclick="this.parentElement.style.display='none';"&times;</button>-->
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
       
        <!--Esto es lo dinámico dentro de la página-->
    
        {% block contenidoQueCambia %}
         <!-- Aquí va la lista de posts -->
         <h2>Blog - Posts</h2>
            <div class="container mt-5">
                <div class="row">
                    {% if post_list is not null %}
                        {% for post in post_list %}
                        <div class="card col-lg-6 offset-lg-3 mb-3">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="text-muted mb-3">
                                    <div>
                                    <span>Creado: {{ post.created_on}} |</span>
                                    <span>Actualizado hace: {{ post.updated_on|timesince }} |</span>
                                    <span>Autor: {{ post.author }}</span>
                                    </div>
                                    <div>
                                        {% for tag in post.tags.all %}
                                        <span class="badge badge-dark">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                    {% if post.image %}
                                    <img class="card-img-top mt-3" src="{{ post.image.url }}" alt="{{ post.title }}">
                                    {% endif %}
                                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Leer más &rarr;</a>
                                </div>
                                {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'post_update_admin' post.id %}" class="btn btn-secondary">Editar </a>
                                {% else %}
                                    <a href="{% url 'post_update' post.id %}" class="btn btn-secondary">Editar </a>
                                {% endif %}
                                {% if user.is_superuser %}
                                <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Eliminar </a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <p style="text-align:center"> No hay post agregados al Blog aún</p>
                    {% endif%}
                </div>
            </div>


            <!-- Pagination -->
        <div class="row">
            <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
                </li>
                {% endif %}
        
                {% for i in page_obj.paginator.page_range %}
                <li class=" page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}

            </ul>
            </nav>
        </div>
        <!-- /Pagination -->
        {% endblock %}
        
        <footer>
            <p class="m-0 text-dark text-center ">Made with &#128151; Santiago Troitiño Cristancho 2022 (Still working on the Front-end &#128517;)</p>
        </footer>
    </body>
</html>
