{% extends 'padreBlog.html' %}

{% block page_title %}
    <title> Mi perfil - {{ usuario }}</title>
{% endblock %}


{% block contenidoQueCambia %}
<h2> Abajo encontrarás la información de tu perfil </h2>
<div style="position: relative; top: 80px">
    <ul>
        <li><b> Nombre de usuario: </b>{{ user.username }}</li>
        <li><b> Correo registrado: </b>{{ user.email }}</li>
        <li><b> Nombre completo: </b> {{ user.first_name }} {{ user.last_name }}</li>
    </ul>
    <a class="btn btn-success" style="text-decoration: none; color: white" href="{% url 'editProfile'%}">Editar Perfil</a>
    <a class="btn btn-success" style="text-decoration: none; color: white" href="{% url 'changeAvatar'%}"> Cambiar imagen de perfil</a>
</div>
{% endblock contenidoQueCambia %}