{% extends "padreBlog.html" %}

{%load static%}

<link href="{% static 'css/personalStyle.css' %}" rel="stylesheet" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />


{% block page_title %}
    <title>Búsqueda - Posts</title>
{% endblock %}

{% block contenidoQueCambia%}
<div class="col-8 offset-2">
<section class="formHead">
    <h1> Buscar: </h1>
</section>
<section class="formHead">
    <p> Ingrese los datos para buscar un post: </p>
</section>
<section class="contenidoFormulario">
    <form class="formData" action="search/" method="GET">
        <input type="text" name="title" placeholder="Título">

        <button class="btn btn-primary" type="submit">Buscar posts</button>
    </form>
</section>
</div>
{% endblock %}