{% extends "padre.html" %}

{%load static%}

<link href="{% static 'css/personalStyle.css' %}" rel="stylesheet" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />

{% block page_title %}
    <title>Formulario - Estudiante</title>
{% endblock %}

{% block contenidoQueCambia%}
<title> Formulario de ingreso de estudiante</title>

<section class="formHead">
    <b> Ingrese los datos para agregar un estudiante: </b>
    
</section>
<section class="contenidoFormulario">
    <form class="formData" action="addEstudiante" method="POST"> {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <input type="email" name="email" placeholder="Correo">

        <button class="btn btn-primary" type="submit">Agregar estudiante</button>
    </form>
</section>



{% endblock %}