{% extends "padreBlog.html" %}

{% block page_title %}
    <title>Borrar Post</title>
{% endblock %}


{% block contenidoQueCambia%}
<section class="formHead">
    <form method="POST"> {% csrf_token %}
        <p style="text-align:center">¿Estás seguro que deseas borrar a "{{ object.title }}"?</p>
        <button class="btn btn-danger" type="submit" value="Aceptar"> Sí, borrar</button>
        <a class="btn btn-secondary" href="/pages/home" value=""> Cancelar</a>
    </form>
</section>
{% endblock %}