{% extends "padre.html" %}

{%load static%}

<link href="{% static 'css/personalStyle.css' %}" rel="stylesheet" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />


{% block page_title %}
    <title>Búsqueda - Curso</title>
{% endblock %}

{% block contenidoQueCambia%}

<section class="formHead">
    <b> Ingrese los datos para buscar un curso: </b>
    
</section>
<section class="contenidoFormulario">
    <form class="formData" action="search/" method="GET">
        <input type="number" name="camada" placeholder="Cursada">

        <button class="btn btn-primary" type="submit">Buscar curso</button>
    </form>
</section>



{% endblock %}